
button {
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
@media screen and (max-width: 479px) {
    max-width: 320px;
    }
}
.header {
    margin-bottom: 137px;
    position: relative;
    z-index: 2;
}

.logo__links {
    display: block;
    padding-top: 6px;
}

.burger-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    line-height: 0;
}
.burger-icon {
    width: 20px;
    height: 12px;
}
.header__btn {
    width: 159px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
@media screen and (max-width: 1279px) {
    width: 209px;
    margin-bottom: 19px;
    } 
}
.button {
    align-items: center;
    text-align: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 22px;
    border: none;
    color: #d41443;
}
.close-btn {
    position: absolute;
    top: 23px;
    right: 28px;
    width: 20px;
    height: 12px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    line-height: 0;
}
.close-btn-icon {
    width: 14px;
    height: 14px;
}
.hero {
    overflow: hidden;
    min-height: 502px;
    background-color: #ffb8ca;
}
.hero__contents {
    z-index: 1;
}
.hero .container, .hero__contents {
    position: relative;
}
.hero__title {
    font-family: "Titan One",cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #fff;
    width: 218px;
}
.hero__accent {
    font-family: "Titan One",cursive;
    font-size: 48px;
    line-height: .96;
    color: #d41443;
}
.hero__tittle-btn {
    display: flex;
    margin-top: 19px;
    margin-bottom: 19px;
}
.hero__btn {
    display: flex;
    justify-items: center;
    cursor: pointer;
    border-radius: 22px;
    border: none;
    color: #d41443;
}
.hero__btn, .hero__btn-primary {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero__btn-primary {
    margin-right: 15px;
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
    color: #fff;
    background-color: #d41443;
}
.hero__btn-secondary {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
    align-items: center;
    text-align: center;
    color: #d41443;
    background-color: #fff;
}

.hero__image-thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    //transform: translate(-35%,-23%);
    width: 346px;
    height: 420px;
}
.hero__circle:before {
    content: "";
    display: block;
    position: absolute;
    width: 346px;
    height: 346px;
    border-radius: 50%;
    top: -215px;
    left: -28%;
    background: #ffa5ba;
    z-index: 0;
}
.hero__image {
    position: absolute;
    top: 50%;
    left: 50%;
}

