.page-header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 500;
}

.header__container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  @media screen and (max-width: 768px) {
  }

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 46px;
  }
}


.menu__wraper {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
  }
}


.menu-button {
  z-index: 1100;
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;

  .icon-close {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &.is-open {
    position: fixed;
    .icon-burger {
      display: none;
    }

    .icon-close {
      display: block;
      width: 14px;
      height: 14px;
    }

    @media screen and (max-width: 767px) {
      position: fixed;
      top: 23px;
      right: 28px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      position: fixed;
      right: 34px;
      top: 23px;
    }
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__container {
  transition: opacity $duration $function,
    visibility $duration $function;
    transition: box-shadow $duration $function, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    right: -17%;
  
  @media screen and (max-width: 1279px) {
    z-index: 800;
    position: fixed;
    height: 100vh;
    top: 0;
    right: -11%;
    opacity: 0;
    visibility: hidden;
    background-color: $menu-background-color;
    width: 250px;
    padding-top: 60px;
    padding-left: 21px;
    flex-direction: column;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding-left: 24px;
      padding-right: 24px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    @media screen and (min-width: 400px) {
      right: -31%;
    }
      
    @media screen and (min-width: 500px) {
      right: -25%;
    }    
    @media screen and (min-width: 600px) {
      right: -21%;
    } 

    @media screen and (min-width: 700px) {
      right: -18%;
    } 

    @media screen and (min-width: 900px) {
      right: -14%;
    } 
    @media screen and (min-width: 1050px) {
      right: -12%;
    } 
  }
  &.is-open {
    opacity: 1;
    visibility: visible;
    transform: scale(1) rotate(0) translate(-50%, 0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu {
  @include fontHeader(700, 14px, 1.29);
  @media screen and (min-width: 1280px) {
    @include fontHeader(700, 16px, 1.31);
    display: flex;
    margin: 0 110px;
  }
}

.menu__item {
  @media screen and (max-width: 1279px) {
    display: block;
    border-top: solid 1px #e18298;
    padding-top: 11px;
    padding-bottom: 12px;
    &:last-child {
      border-bottom: solid 1px #e18298;
    }
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
.menu__link {
  color: $main-light-color;
  transition: color $duration $function;
  &.current,
  &:hover,
  &:focus {
    color: $main-accent-color;
  }

  @media screen and (min-width: 1280px) {
    display: inline-block;
  }
}

.btn__buy {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  @include fontHeader(700, 16px, 1.286);
  color: $main-accent-color;
  background-color: $main-light-color;
  border: transparent;
  border-radius: 22px;
  outline: none;
  transition: background-color $duration $function;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}

.menu__container.is-open ~ .btn__buy {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: none;
  }
}

.menu__buy.btn__buy {
  width: 209px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    width: 186px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.header__buy.btn__buy {
  width: 160px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 20px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.menu-buy__icon {
  margin-left: 16px;
  @media screen and (min-width: 768px) {
    margin-left: 14px;
  }
}
.header-buy__icon {
  margin-left: 12px;
}







  .hero {
    background-color: $hero-primary-background-color;
  
    &__container {
      position: relative;
  
      @media screen and (max-width: 767px) {
        min-width: 320px;
        padding: 83px 20px 0 20px;
        overflow-x: hidden;
      }
  
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
      }
  
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 768px;
        min-height: 400px;
        padding: 32px 34px 0 34px;
      }
  
      @media screen and (min-width: 1280px) {
        width: 1280px;
        min-height: 665px;
        padding: 52px 77px 0 77px;
      }
    }
  
    &__content {
      @media screen and (max-width: 767px) {
        position: absolute;
        top: 37%;
      }
  
      @media screen and (min-width: 768px) {
        display: block;
        margin-top: 70px;
      }
    }
  
    &__title-wrap {
      @media screen and (min-width: 1280px) {
        margin-left: 40px;
      }
    }
  
    &__title {
      font-family: $secondary-font;
      font-weight: normal;
      line-height: 1.15;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $main-light-color;
  
      @media screen and (max-width: 767px) {
        width: 218px;
        min-height: 106px;
  
        font-size: 26px;
      }
  
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 162px;
        min-height: 80px;
  
        font-size: 22px;
      }
  
      @media screen and (max-width: 1279px) {
        margin: 0 0 20px 0;
      }
  
      @media screen and (min-width: 1280px) {
        width: 277px;
        min-height: 137px;
        margin: 0 0 25px 0;
  
        font-size: 38px;
      }
  
      &--coloring {
        color: $main-accent-color;
  
        @media screen and (max-width: 767px) {
          font-size: 48px;
          line-height: 1.15;
        }
  
        @media screen and (min-width: 768px) {
          line-height: 0.9;
        }
        @media screen and (min-width: 768px) and (max-width: 1279px) {
          font-size: 34px;
        }
  
        @media screen and (min-width: 1280px) {
          font-size: 58px;
        }
      }
    }
  
    &__buttons {
      display: flex;
  
      @media screen and (max-width: 1279px) {
        margin-bottom: 20px;
      }
  
      @media screen and (min-width: 1280px) {
        margin-bottom: 56px;
      }
    }
  
    &__button {
      @media screen and (max-width: 1279px) {
        max-width: 84px;
        max-height: 24px;
      }
  
      @media screen and (min-width: 1280px) {
        max-width: 138px;
        max-height: 40px;
      }
    }
  
    &__button:first-child {
      @media screen and (max-width: 1279px) {
        margin-right: 8px;
      }
  
      @media screen and (min-width: 1280px) {
        margin-right: 15px;
      }
    }
  
    &__image {
      border-radius: 50%;
      background-color: $secondary-accent-color;
  
      @media screen and (max-width: 415px) {
        margin-right: 16px;
        margin-left: 16px;
      }
  
      @media screen and (min-width: 416px) and (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
      }
  
      @media screen and (max-width: 767px) {
        width: 346px;
        height: 344px;
        padding-top: 9px;
        margin-top: 0;
        margin-bottom: 75px;
      }
  
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 324px;
        height: 322px;
        padding-top: 32px;
        padding-left: 71px;
      }
  
      @media screen and (min-width: 1280px) {
        width: 538px;
        height: 538px;
        padding-top: 56px;
        padding-left: 119px;
      }
    }
  
    &__icecream {
      @media screen and (max-width: 767px) {
        width: 171px;
        height: 410px;
        margin: 0 auto;
      }
  
      @media screen and (min-width: 768px) {
        width: 143px;
        height: 336px;
      }
  
      @media screen and (min-width: 1280px) {
        width: 236px;
        height: 557px;
      }
    }
  }
  
  .card {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: flex-end;
    }
  
    &__image {
       animation: float 3s $function infinite;
  
      @media screen and (max-width: 1279px) {
        width: 124px;
        height: 126px;
      }
      @media screen and (min-width: 1280px) {
        width: 188px;
        height: 191px;
        margin-right: 30px;
      }
    }
  
    &__content {
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-left: -2px;
      }
    }
  
    &__text {
      font-weight: normal;
      color: $main-light-color;
  
      @media screen and (max-width: 1279px) {
        width: 114px;
        min-height: 48px;
        margin-bottom: 7px;
  
        font-size: 8px;
        line-height: 1.5;
      }
      @media screen and (min-width: 1280px) {
        width: 200px;
        min-height: 78px;
        margin-bottom: 20px;
  
        font-size: 14px;
        line-height: 1.4;
      }
    }
  
    &__link {
      @media screen and (max-width: 1279px) {
        width: 18px;
        height: 18px;
      }
      @media screen and (min-width: 1280px) {
        width: 26px;
        height: 26px;
      }
    }
  }
  
  .retail {
    @media screen and (max-width: 767px) {
      display: none;
    }
  
    @media screen and (min-width: 768px) {
      display: block;
      margin-top: 60px;
      position: relative;
    }
  
    &__content {
      
      background-repeat: no-repeat;
      background-position: top 0 right 0;
  
      transition: all $duration $function;
  
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        background-image: url(../images/desktop/hero/hero-white-circle.png);
        background-size: 18px;
      }
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/desktop/hero/hero-white-circle.png);
      }
  
      @media screen and (min-width: 1280px) {
        margin-right: 20px;
        background-image: url(../images/desktop/hero/hero-white-circle.png);
        background-size: 30px;
      }
  
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/desktop/hero/hero-white-circle.png);
      }
    }
  
    &__content:first-child {
      margin-bottom: 13px;
    }
  
      &__content:hover,
      &__content:focus {
      transform: scale(1.1);
    }
  
    &__number {
      display: block;
      font-family: $secondary-font;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $main-accent-color;
  
      @media screen and (max-width: 1279px) {
        font-size: 28px;
        line-height: 1.14;
      }
  
      @media screen and (min-width: 1280px) {
        font-size: 46px;
        line-height: 1.15;
      }
    }
  
    &__type {
      display: block;
  
      font-family: $primary-font;
      color: $main-light-color;
  
      @media screen and (max-width: 1279px) {
        font-size: 8px;
        line-height: 1.25;
      }
  
      @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.3;
      }
    }
  
    &__tastygirl {
      position: absolute;
      bottom: 60px;
      right: 37px;
      z-index: 1;
  
      @media screen and (max-width: 1279px) {
        width: 168px;
        height: 133px;
      }
  
      @media screen and (min-width: 1280px) {
        width: 293px;
        height: 232px;
        margin-right: 40px;
        bottom: 104px;
        right: 0px;
      }
    }
  }
  
  .bttn {
    display: block;
    border: 1px solid transparent;
    border-radius: 20px;
    outline: none;
  
    font-family: $primary-font;
    font-weight: normal;
    line-height: 1.3;
    cursor: pointer;
  
    transition: color 0.25ms;
  
    @media screen and (max-width: 1279px) {
      padding: 9px 13px;
      font-size: 8px;
    }
  
    @media screen and (min-width: 1280px) {
      padding: 15px 19px;
      font-size: 14px;
    }
  
    &__dark {
      background-color: $main-accent-color;
      color: $main-light-color;
    }
  
    &__dark:hover,
    &__dark:focus {
      background-color: $button-accent-hover-color;
      border: 1px solid $main-light-color;
    }
  
    &__light {
      background-color: $main-light-color;
      color: $main-accent-color;
    }
  
    &__light:hover,
    &__light:focus {
      background-color: $button-hover-color;
      border: 1px solid $main-accent-color;
    }
  }

  .hero__yoda-container{
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 80px;
    left: 28%;
    border-radius: 50%;
    z-index: 0;

    @media screen and (min-width: 650px) {
        top: 80px;
        left: 34%;
        }

    @media screen and (min-width: 768px) {
    top: 49px;
    left: 47%;
    }

    @media screen and (min-width: 1280px) {
        width: 300px;
        top: 86px;
        left: 48%;
        }
    }


    .hero__icecream{
      animation-name: icecream;
      animation-duration: 3s;
      animation-timing-function: 999;
      animation-direction: alternate-reverse;
      
    }

    .yoda-img{
      animation-name: yoda;
      animation-duration: 3s;
      animation-timing-function: 999;
      animation-direction: alternate-reverse;
      
  }

  .hero__girl{
    @media screen and (min-width: 768px) {
      width: 168px;
      }

      @media screen and (min-width: 1280px) {
        width: 293px;
        
        }
  }
