.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden .modal {
    transform: scale(1.5) rotate(180deg) translate(100px, 100px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal {
    min-width: 94%;
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
    background-color: $gallery-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) rotate(0) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (min-width: 480px) {
      min-width: 498px;
      min-height: 609px;
    }
  
    @media screen and (min-width: 1280px) {
      min-width: 528px;
      min-height: 581px;
      padding: 40px;
    }
  }
  .modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: $hero-primary-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      fill: $main-accent-color;;
    }
  }
  
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .modal__title {
    color: $main-accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    margin-bottom: 12px;
  }
  
  .form__field {
    margin-bottom: 10px;
  }
  
  .form__wrap {
    position: relative;
    margin-bottom: 10px;
    
  }
  
  .form__text {
    display: block;
    color: $main-dark-color;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  
    &:focus {
      border-color: $main-accent-color;
    }
  }
  
  .form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 42px;
    background-color: transparent;
    color: $main-accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  
    &:focus {
      border-color: $main-accent-color;
  
      + .form__icon {
        fill: $main-accent-color;
      }
    }
  }
  
  .form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .comment__text {
    font-size: 14px;
    line-height: 1.29;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding: 12px 16px;
    resize: none;
    background-color: transparent;
    color: $main-dark-color;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  
    &:focus {
      border-color: $main-accent-color;
    }
  
    &::placeholder {
      border-color: $main-accent-color;
      color: $main-accent-color;;
      font-size: 14px;
      line-height: 1.29;
      
    }
  }
  .comment__input {
    color: $main-dark-color;
    font-size: 14px;
    line-height: 1.29;
  }
  
  .form__comment {
    margin-bottom: 20px;
  }
  
  .modal__button {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  .policy__border {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
  }
  
  .policy__label {
    display: flex;
    justify-content: left;
    justify-content: center;
  }
  .policy__icon {
    fill: $main-light-color;
  }
  
  .policy__check {
    &:checked {
      + .policy__label .policy__border {
        background-color: $main-accent-color;
        border: none;
      }
    }
  }
  .policy__field {
    padding: 0;
    margin-left: 8px;
  }
  
  .policy__text {
    font-size: 14px;
      line-height: 1.29;
  
    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.29;
    }
  }
  
  .policy__link {
    text-decoration-line: underline;
    color: $main-accent-color;
  }
  
  .form__policy {
    margin-bottom: 30px;
  }
  
  .modal__button {
    font-family: $primary-font;
    font-weight: 700;
    background-color: $main-accent-color;
    color: $main-background-color;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    border-radius: 22px;
    border: 1px transparent;
    align-items: center;
    justify-content: center;
    width: 209px;
    height: 44px;
    
  }