.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 144px;

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
  }

  &--label {
    display: inline-block;
    margin-bottom: 15px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-accent-color;
  }

  &--main {
    display: block;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-accent-color;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 55px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 66px;
      letter-spacing: 0.06em;
    }
  }
}

.products__grid {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-basis: calc((100% - 2 * 20px) / 3);
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

.products__item {
  position: relative;
  background-color: $cream-card-background-color;
  border-radius: 24px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    transition: transform $duration $function;

    &:hover {
      transform: translateY(-30px);
    }
  }

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 100%;

    &:not(:last-child) {
      margin-right: 20px;
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 100%;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &::before {
    position: absolute;
    top: -113px;
    display: block;
    content: '';
    width: 100%;
    height: 252px;
    background-repeat: no-repeat;
    background-image: url(../images/mobile/products/mob-icecream1x.png);
    background-position: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;

    @media screen and (max-width: 479px) {
      width: 100%;
      margin-left: auto;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mobile/products/mob-icecream2x.png);
      background-size: cover;
      width: 249px;
    }

    @media screen and (min-width: 768px) {
      left: 0px;
      top: -104px;
      width: 220px;
      height: 226px;
      background-image: url(../images/tablet/products/tab-icecream1x.png);
      margin-bottom: 30px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/tablet/products/tab-icecream2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      left: 0px;
      top: -210px;
      width: 335px;
      height: 335px;
      background-image: url(../images/desktop/products/desktop-icecream1x.png);
      margin-bottom: 30px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/desktop/products/desktop-icecream2x.png);
      }
    }
  }

  &--coffee {
    background-color: $coffee-card-background-color;

    &::before {
      position: absolute;
      top: -113px;
      display: block;
      content: '';
      width: 100%;
      height: 252px;
      background-repeat: no-repeat;
      background-image: url(../images/mobile/products/mob-icecoffee1x.png);
      background-position: center;
      margin-left: auto;
      margin-right: auto;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/mobile/products/mob-icecoffee2x.png);
        background-size: cover;
        width: 249px;
      }

      @media screen and (min-width: 768px) {
        left: 0px;
        top: -111px;
        width: 220px;
        height: 233px;
        background-image: url(../images/tablet/products/tab-icecoffee-1x.png);
        margin-bottom: 30px;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/tablet/products/tab-icecoffee-2x.png);
        }
      }

      @media screen and (min-width: 1280px) {
        left: 0px;
        top: -210px;
        width: 337px;
        height: 335px;
        background-image: url(../images/desktop/products/desktop-icecoffee1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/desktop/products/desktop-icecoffee2x.png);
        }
      }
    }
  }

  &--milkshakes {
    background-color: $shake-card-background-color;

    &::before {
      position: absolute;
      top: -113px;
      display: block;
      content: '';
      width: 100%;
      height: 252px;
      background-repeat: no-repeat;
      background-image: url(../images/mobile/products/mob-milkshakes1x.png);
      background-position: center;
      margin-left: auto;
      margin-right: auto;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/mobile/products/mob-milkshakes2x.png);
        background-size: cover;
        width: 249px;
      }

      @media screen and (min-width: 768px) {
        left: 0px;
        top: -104px;
        width: 220px;
        height: 224px;
        background-image: url(../images/tablet/products/tab-milkshakes1x.png);
        margin-bottom: 30px;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/tablet/products/tab-milkshakes2x.png);
        }
      }

      @media screen and (min-width: 1280px) {
        left: 0px;
        top: -210px;
        width: 335px;
        height: 335px;
        background-image: url(../images/desktop/products/desktop-milkshakes1x.png);
        margin-bottom: 30px;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/desktop/products/desktop-milkshakes2x.png);
        }
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 130px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.products__item-title {
  margin-top: 161px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-light-color;

  @media screen and (min-width: 768px) {
    margin-top: 152px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 163px;
    font-size: 30px;
    line-height: 34px;
  }
}

.products__description {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: $main-background-color;

  @media screen and (min-width: 768px) {
    width: 198px;
    line-height: 176%;
  }

  @media screen and (min-width: 1280px) {
    width: 241px;
    font-size: 16px;
    line-height: 176%;
  }

  &::before {
    display: block;
    content: '';
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 26px;
    height: 6px;
    background-image: url(../images/icon-dots-products-div.png);
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 1280px) {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}

.products__btn {
  display: block;
  background-color: $review-background-color;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 41px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 60px;
    // margin-bottom: 50px;
  }
}

.produsts__btn--img {
  width: 20px;
  height: 15px;
  margin-top: 7px;
  fill: $button-accent-hover-color;
}

.modal__description {
  text-align: left;
  white-space: pre-line;

  @media screen and (min-width: 480px) {
    min-width: 420px;
    min-height: 90%;
  }

  @media screen and (min-width: 768px) {
    min-width: 500px;
    margin-left: -142px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 700px;
    margin-left: -183px;
  }
}

.modal__product {
  margin-left: 0;
  margin-right: 0;
}

.modal__grid {
  align-items: center;
  justify-content: center;
}

.backdrop__cream {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_cream {
  min-width: 320px;
  min-height: 90%;
  padding: 80px 30px 30px 30px;
  justify-content: center;
  align-items: center;
  background-color: $cream-card-background-color;
  border-radius: 24px;
  border: 1px solid transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: pre-line;

  @media screen and (min-width: 480px) {
    min-width: 400px;
  }

  @media screen and (min-width: 768px) {
    min-width: 600px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 800px;
    padding-top: 135px;
  }
}

.backdrop__coffee {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_coffee {
  min-width: 320px;
  min-height: 90%;
  padding: 80px 30px 30px 30px;
  justify-content: center;
  align-items: center;
  background-color: $coffee-card-background-color;
  border-radius: 24px;
  border: 1px solid transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: pre-line;

  @media screen and (min-width: 480px) {
    min-width: 400px;
  }

  @media screen and (min-width: 768px) {
    min-width: 600px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 800px;
    padding-top: 135px;
  }
}

.backdrop__cream.is-hidden .modal_cream,
.backdrop__coffee.is-hidden .modal_coffee,
.backdrop__milkshakes.is-hidden .modal_milkshakes {
  transform: scale(1.5) rotate(180deg) translate(100px, 100px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__milkshakes {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_milkshakes {
  min-width: 320px;
  min-height: 90%;
  padding: 80px 30px 30px 30px;
  justify-content: center;
  align-items: center;
  background-color: $shake-card-background-color;
  border-radius: 24px;
  border: 1px solid transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: pre-line;

  @media screen and (min-width: 480px) {
    min-width: 400px;
  }

  @media screen and (min-width: 768px) {
    min-width: 600px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 800px;
    padding-top: 135px;
  }
}

.product_title{
  margin-top: 130px;

  @media screen and (min-width: 480px) {
    margin-top: 110px;
    
  }
}