.products__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 144px;

  &--label {
    display: inline-block;
    margin-bottom: 15px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-accent-color;
  }

  &--main {
    display: block;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-accent-color;
  }
}

.products__item {
  position: relative;
  width: 280px;
  height: 485px;
  background-color: $cream-card-background-color;
  border-radius: 24px;
  border: 1px solid transparent;
  margin-bottom: 130px;
  margin-left: auto;
  margin-right: auto;

  &::before {
    position: absolute;
    left: 16px;
    top: -113px;
    display: block;
    content: '';
    width: 249px;
    height: 252px;
    background-repeat: no-repeat;
    background-image: url(../images/mobile/products/mob-icecream1x.png);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }

  &--coffee {
    background-color: $coffee-card-background-color;

    &::before {
      position: absolute;
      left: 16px;
      top: -113px;
      display: block;
      content: '';
      width: 249px;
      height: 252px;
      background-repeat: no-repeat;
      background-image: url(../images/mobile/products/mob-icecoffee1x.png);
      background-position: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--milkshakes {
    background-color: $shake-card-background-color;

    &::before {
      position: absolute;
      left: 16px;
      top: -113px;
      display: block;
      content: '';
      width: 249px;
      height: 252px;
      background-repeat: no-repeat;
      background-image: url(../images/mobile/products/mob-milkshakes1x.png);
      background-position: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.products__item-title {
  margin-top: 161px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-light-color;
}

.products__description {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: $main-background-color;

  &::before {
    display: block;
    content: '';
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 26px;
    height: 6px;
    background-image: url(../images/icon-dots-products-div.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.products__btn {
  display: block;
  background-color: $review-background-color;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 50%;
}

.produsts__btn--img {
  width: 20px;
  height: 15px;
  margin-top: 7px;
  fill: $button-accent-hover-color;
}
