@keyframes icecream {
    100% {
         transform: translate(0, 100px);
      }
      
  }

  
  
    @keyframes yoda {
      50% {
           transform: translate(0, 300px);
        }
        
    }

    @keyframes float {
        50% {
             transform: translate(0, 70px);
          }
          
      }
  
    