<section class="about" id="how">
<div class="container about__container">
    <p class="about__pre-title">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__tablet">
        <div class="about__wrapper-image">
            <img class="about__img"
                    srcset="./images/mobile/about/cow-1x.png 1x, 
                            ./images/mobile/about/cow-2x.png 2x"
                    src="./images/mobile/about/cow-1x.png" 
                    alt="коровка с молоком"
                >
        </div>
        <div class="about__wraper">
            <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
            <p class="about__text-after">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            <br>
            <br>
            Aliquam erat volutpat. Aenean accumsan.</p>
            <button class="about__button" type="button" data-modal-open-about> Read more
                <svg width="12" height="12" class="about__button-icon">
                    <use href="./images/icons/sprite.svg#icon-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- desktop -->
<div class="about__desktop">
    <div class="about__wrapper-image">
        <img class="about__img" 
        srcset="./images/mobile/about/cow-1x.png 1x, 
            ./images/mobile/about/cow-2x.png 2x" 
            src="./images/mobile/about/cow-1x.png"
            alt="коровка с молоком">
    </div>
    <div class="about__wraper">
        <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
        <p class="about__text-after">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
        rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        <br>
        <br>
        Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button" type="button" data-modal-open-about2> Read more
            <svg width="12" height="12" class="about__button-icon">
                <use href="./images/icons/sprite.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>
</div>
<!-- modal window -->
<div class="backdrop is-hidden" data-modal-about>
    <div class="modal modal_about">
        <button class="modal__btn" type="button" data-modal-close-about>
            <svg width="14" height="14" class="modal__icon">
                <use href="./images/sprite.svg#icon-modal-close"></use>
            </svg>
        </button>
        <h2 class="about__title-modal">top 3 facts about ice cream</h2>
        <ul class="about__modal-list">
            <li class="about__modal-item">
                <p class="about__modal-text">1. China is the birthplace of ice cream</p>
            </li>
            <li class="about__modal-item">
                <p class="about__modal-text">2 Popsicles Was Invented From Frozen Lemonade</p>
            </li>
            <li class="about__modal-item">
                <p class="about__modal-text">3. Pros use golden spoons to taste ice cream.</p>
            </li>
            <li class="about__modal-item">
                <p class="about__modal-text">4. Ice cream helps harden the throat</p>
            </li>
            <li class="about__modal-item">
                <p class="about__modal-text">5. About 15 billion liters of ice cream are consumed every year in the world.</p>
            </li>
        </ul>
        <!-- <ul>
            <li class="about__text">
                1. China is the birthplace of ice cream
            </li>
            <li class="about__text">
                2 Popsicles Was Invented From Frozen Lemonade
            </li>
            <li class="about__text">
                3. Pros use golden spoons to taste ice cream.
            </li>
            <li class="about__text">
                4. Ice cream helps harden the throat
            </li>
            <li class="about__text-modal">
                5. About 15 billion liters of ice cream are consumed every year in the world.
            </li>
        </ul> -->
        <!-- <p class="about__pre-title">Worked on the project</p>
        <p class="about__text-modal">1.Team-leader(Anna Lezskaya)</p>
        <p class="about__text-modal">2.Scrum-master Lisovoi Dmitrii</p>
        <p class="about__text-modal">3.Teamleader(Anna Lezskaya)</p>
        <p class="about__text-modal">4.Teamleader(Anna Lezskaya)</p>
        <p class="about__text-modal">5.Teamleader(Anna Lezskaya)</p>
        <p class="about__text-modal">6.Teamleader(Anna Lezskaya)</p>
        <p class="about__text-modal">7.Teamleader(Anna Lezskaya)</p>
        <p class="about__text-modal">8.Teamleader(Anna Lezskaya)</p> -->
    </div>
</div>
</section>