<section class="advantages" id="section-advantages">
    <div class="container">
        <h2 class="advantages_visually-hidden visualli-hidden">Advantages!</h2>

        <ul class="advantages_elem">
            <li class="advantages_list">
                <p class="advantages_icon advantages_icon1"></p>
                <p class="advantages_fact">721</p>
                <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                
            </li>

            <li class="adventages_list">
                <p class="adventages_icon adventages_icon2"></p>
                <p class="adventages_fact">16kg</p>
                <p class="adventages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="adventages_list">
                <p class="adventages_icon adventages_icon3"></p>
                <p class="advantages_fact">84</p>
                <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>

           
        </ul>
    </div>
</section>