<section class="contacts">
  <div class="container">
    <h2 hidden="">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__item-title">Cafe</p>
        <ul class="contacts__item-where">
          <li class="contacts__item--black">Kyiv</li>
          <li class="contacts__item--grey">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts__item-when">
          <li class="contacts__item--black">Monday - Friday</li>
          <li class="contacts__item--pink">06:00 AM - 10:00 PM</li>
          <li class="contacts__item--black">Saturday - Sunday</li>
          <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__item--how">
          <li>
            <a class="contacts__link" href="tel:+380631111111">+380631111111</a>
          </li>
          <li>
            <a class="contacts__link" href="mailto:yodateam@gmail.com">yodateam@gmail.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-title">Foodtruck</p>
        <ul class="contacts__item-where">
          <li class="contacts__item--black">Odesa</li>
          <li class="contacts__item--grey">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts__item-when">
          <li class="contacts__item--black">Monday - Friday</li>
          <li class="contacts__item--pink">06:00 AM - 10:00 PM</li>
          <li class="contacts__item--black">Saturday - Sunday</li>
          <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__item--how">
          <li>
            <a class="contacts__link" href="tel:+380631111111">+380631111111</a>
          </li>
          <li>
            <a class="contacts__link" href="mailto:yodateam@gmail.com">yodateam@gmail.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-title">Cafe</p>
        <ul class="contacts__item-where">
          <li class="contacts__item--black">Lviv</li>
          <li class="contacts__item--grey">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts__item-when">
          <li class="contacts__item--black">Monday - Friday</li>
          <li class="contacts__item--pink">06:00 AM - 10:00 PM</li>
          <li class="contacts__item--black">Saturday - Sunday</li>
          <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__item--how">
          <li>
            <a class="contacts__link" href="tel:+380631111111">+380631111111</a>
          </li>
          <li>
            <a class="contacts__link" href="mailto:yodateam@gmail.com">yodateam@gmail.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn-list">
      <li class="contacts__btn-item">
        <button type="button" class="contacts__button">Our Locations</button>
      </li>
      <li class="contacts__btn-item">
        <button type="button" class="contacts__button">Franchise</button>
      </li>
    </ul>
  </div>
</section>
