<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="is-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__item-title">Cafe</p>
        <ul class="contacts__item-where">
          <li class="contacts__item--black">Kyiv</li>
          <li class="contacts__item--grey">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts__item-when">
          <li class="contacts__item--black">Monday - Friday</li>
          <li class="contacts__item--pink">06:00 AM - 10:00 PM</li>
          <li class="contacts__item--black">Saturday - Sunday</li>
          <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__item--how">
          <li>
            <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a class="contacts__link" href="mailto:yodateam@gmail.com">yodateam@gmail.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-title">Foodtruck</p>
        <ul class="contacts__item-where">
          <li class="contacts__item--black">Odesa</li>
          <li class="contacts__item--grey">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts__item-when">
          <li class="contacts__item--black">Monday - Friday</li>
          <li class="contacts__item--pink">06:00 AM - 10:00 PM</li>
          <li class="contacts__item--black">Saturday - Sunday</li>
          <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__item--how">
          <li>
            <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a class="contacts__link" href="mailto:yodateam@gmail.com">yodateam@gmail.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-title">Cafe</p>
        <ul class="contacts__item-where">
          <li class="contacts__item--black">Lviv</li>
          <li class="contacts__item--grey">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts__item-when">
          <li class="contacts__item--black">Monday - Friday</li>
          <li class="contacts__item--pink">06:00 AM - 10:00 PM</li>
          <li class="contacts__item--black">Saturday - Sunday</li>
          <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__item--how">
          <li>
            <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a class="contacts__link" href="mailto:yodateam@gmail.com">yodateam@gmail.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn-list">
      <li class="contacts__btn-item">
        <a href="https://goo.gl/maps/SQWz24ixvd6DvQWe7" target="_blank" rel="noopener noreferrer">
          <button type="button" class="contacts__button btn-pink">
            Our Locations
            <svg class="contacts__arrow">
              <use href="./images/icons/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </a>
      </li>
      <li class="contacts__btn-item">
        <a href="https://goit.ua/" target="_blank" rel="noopener noreferrer">
          <button type="button" class="contacts__button btn-white">
            Franchise
            <svg class="contacts__arrow contacts__arrow--pink">
              <use href="./images/icons/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </a>
      </li>
    </ul>
  </div>
</section>
