<!-- Section feedback -->
<h2 class="is-hidden">Feedback</h2>
<section class="feedback">
  <div class="container">
    <div class="feedback__photo--container">
      <img
        srcset="
          ./images/mobile/customer-reviews/emily-1x.png 1x,
          ./images/mobile/customer-reviews/emily-1x.png 2x
        "
        src="./images/mobile/customer-reviews/emily-1x.png"
        alt="client photo"
        class="feedback__photo feedback__client-icon"
      />
    </div>

    <div class="feedback__text--container">
      <div class="text__linear--gradient">
        <p class="feedback__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <h3 class="feedback__address">Emily, Los Angeles</h3>
  </div>
</section>
