<section class="slider-setion">
  <div class="slider container" id="about">
    <div class="clear-slider">
      <input type="radio" class="slider-point-1" name="slider" aria-label="Main slide" checked="" />
      <span class="slider__mark">1</span>
      <input type="radio" class="slider-point-2" name="slider" aria-label="Prev slide" />
      <span class="slider__mark">2</span>
      <input type="radio" class="slider-point-3" name="slider" aria-label="Next slide" />
      <span class="slider__mark">3</span>
      <input type="radio" class="slider-point-4" name="slider" aria-label="Next slide" />
      <span class="slider__mark">4</span>
      <input type="radio" class="slider-point-5" name="slider" aria-label="Next slide" />
      <span class="slider__mark">5</span>
      <input type="radio" class="slider-point-6" name="slider" aria-label="Next slide" />
      <span class="slider__mark">6</span>
      <input type="radio" class="slider-point-7" name="slider" aria-label="Next slide" />
      <span class="slider__mark">7</span>
      <input type="radio" class="slider-point-8" name="slider" aria-label="Next slide" />
      <span class="slider__mark">8</span>

      <ul class="list">
        <li>
          <picture>
            <source
              srcset="./images/team-photo/illya.png"
              type="image/png"
              media="(min-width:50px)"
            />
            <img
              class="slider__photo"
              src="./images/team-photo/illya.png"
              alt="illya"
              loading="lazy"
            />
          </picture>

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Illya, Khmelnitsky</p>
        </li>

        <li>
          <picture>
            <source
              srcset="
                ./images/mobile/customer-reviews/Jessica1x.png 1x,
                ./images/mobile/customer-reviews/Jessica2x.png 2x
              "
              type="image/png"
              media="(min-width:50px)"
            />
            <img
              class="slider__photo"
              src="./images/mobile/customer-reviews/Jessica1x.png"
              alt="Emily"
              loading="lazy"
            />
          </picture>
          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Anna, Odesa</p>
        </li>

        <li>
          <picture>
            <source
              srcset="
                ./images/mobile/customer-reviews/Sara1x.png 1x,
                ./images/mobile/customer-reviews/Sara2x.png 2x
              "
              type="image/png"
              media="(min-width:50px)"
            />
            <img
              class="slider__photo"
              src="./images/mobile/customer-reviews/Sara1x.png"
              alt="Emily"
              loading="lazy"
            />
          </picture>
          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quasi ducimus
                nobis maxime eligendi doloremque.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>

          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Irina, Lviv</p>
        </li>
        <li>
          <picture>
            <source
              srcset="./images/team-photo/illya.png"
              type="image/png"
              media="(min-width:50px)"
            />
            <img
              class="slider__photo"
              src="./images/team-photo/illya.png"
              alt="illya"
              loading="lazy"
            />
          </picture>

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Illya, Khmelnitsky</p>
        </li>
      </ul>
    </div>
  </div>
</section>
