<section class="slider-setion">
  <div class="slider container" id="about">
    <div class="clear-slider">
      <input type="radio" class="slider-point-1" name="slider" aria-label="Main slide" checked="" />
      <span class="slider__mark">1</span>
      <input type="radio" class="slider-point-2" name="slider" aria-label="Prev slide" />
      <span class="slider__mark">2</span>
      <input type="radio" class="slider-point-3" name="slider" aria-label="Next slide" />
      <span class="slider__mark">3</span>
      <input type="radio" class="slider-point-4" name="slider" aria-label="Next slide" />
      <span class="slider__mark">4</span>
      <input type="radio" class="slider-point-5" name="slider" aria-label="Next slide" />
      <span class="slider__mark">5</span>
      <input type="radio" class="slider-point-6" name="slider" aria-label="Next slide" />
      <span class="slider__mark">6</span>
      <input type="radio" class="slider-point-7" name="slider" aria-label="Next slide" />
      <span class="slider__mark">7</span>
      <input type="radio" class="slider-point-8" name="slider" aria-label="Next slide" />
      <span class="slider__mark">8</span>
      <input type="radio" class="slider-point-9" name="slider" aria-label="Next slide" />
      <span class="slider__mark">9</span>
      <ul class="list">
        <li>
          <img
            class="slider__photo"
            src="./images/team-photo/illya.png"
            alt="illya"
            loading="lazy"
          />

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Illya, Khmelnitsky</p>
        </li>

        <li>
          <img class="slider__photo" src="./images/team-photo/anna.png" alt="Anna" loading="lazy" />

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Anna, Kharkiv</p>
        </li>

        <li>
          <img
            class="slider__photo"
            src="./images/team-photo/mykola.png"
            alt="Mykola"
            loading="lazy"
          />
          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                I really like ice cream and cold milkshakes. I have lactose intolerance and that is
                why I am very glad that the cafe "Ice cream" has an assortment of ice cream and
                milkshakes without lactose. I wish the network growth and prosperity.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>

          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Mykola, Stockholm</p>
        </li>
        <li>
          <img class="slider__photo" src="./images/team-photo/dima.png" alt="Dima" loading="lazy" />

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Dmitrii, Cherkasy</p>
        </li>
        <li>
          <img class="slider__photo" src="./images/team-photo/ira.png" alt="Irina" loading="lazy" />

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Irina, Cherkasy</p>
        </li>
        <li>
          <img
            class="slider__photo"
            src="./images/team-photo/andriy.png"
            alt="Andrii"
            loading="lazy"
          />

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Andrii, Kyiv</p>
        </li>
        <li>
          <img
            class="slider__photo"
            src="./images/team-photo/misha.png"
            alt="Mihail"
            loading="lazy"
          />

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Mihail, Kagarlyk</p>
        </li>


        <li>
          <picture>

            <img
              class="slider__photo"
              src="./images/team-photo/illya.png"
              alt="illya"
              loading="lazy"
            />
         

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Illya, Khmelnitsky</p>
        </li>

        <li>
          <picture>

            <img
              class="slider__photo"
              src="./images/team-photo/semen.png"
              alt="semen"
              loading="lazy"
            />
         

          <div class="slider__description">
            <svg class="slider__quotes"><use href="./images/icons/sprite.svg#quotes"></use></svg>
            <div class="slider__wrapper">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="slider__name">Semen, Mykolaiv</p>
        </li>
        
      </ul>
    </div>
  </div>
</section>
