<section class="section-gallery" id="Our_products">
  <div class="section-gallery__container">
    <h2 class="is-hidden">Gallery</h2>
    <div class="wrapper-container">
      <div class="section-gallery__wrapper section-gallery__wrapper--img1">
        <img
          srcset="
            ./images/mobile/gallery/gallery01-1x.jpg 1x,
            ./images/mobile/gallery/gallery01-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery01-1x.jpg"
          class="section-gallery__img1"
          alt="icecream"
        />
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img2">
        <img
          srcset="
            ./images/mobile/gallery/gallery02-1x.jpg 1x,
            ./images/mobile/gallery/gallery02-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery02-1x.jpg"
          class="section-gallery__img2"
          alt="icecream"
        />
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img3">
        <img
          srcset="
            ./images/mobile/gallery/gallery03-1x.jpg 1x,
            ./images/mobile/gallery/gallery03-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery03-1x.jpg"
          class="section-gallery__img3"
          alt="icecream"
        />
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img4">
        <img
          srcset="
            ./images/mobile/gallery/gallery04-1x.jpg 1x,
            ./images/mobile/gallery/gallery04-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery04-1x.jpg"
          class="section-gallery__img4"
          alt="icecream"
        />
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img5">
        <img
          srcset="
            ./images/mobile/gallery/gallery05-1x.jpg 1x,
            ./images/mobile/gallery/gallery05-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery05-1x.jpg"
          class="section-gallery__img5"
          alt="icecream"
        />
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img6">
        <img
          srcset="
            ./images/mobile/gallery/gallery06-1x.jpg 1x,
            ./images/mobile/gallery/gallery06-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery06-1x.jpg"
          class="section-gallery__img6"
          alt="icecream"
        />
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img7">
        <img
          srcset="
            ./images/mobile/gallery/gallery07-1x.jpg 1x,
            ./images/mobile/gallery/gallery07-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery07-1x.jpg"
          class="section-gallery__img7"
          alt="icecream"
        />
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img8">
        <img
          srcset="
            ./images/mobile/gallery/gallery08-1x.jpg 1x,
            ./images/mobile/gallery/gallery08-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery08-1x.jpg"
          class="section-gallery__img8"
          alt="icecream"
        />
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img9">
        <img
          srcset="
            ./images/mobile/gallery/gallery09-1x.jpg 1x,
            ./images/mobile/gallery/gallery09-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery09-1x.jpg"
          class="section-gallery__img9"
          alt="icecream"
        />
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img10">
        <img
          srcset="
            ./images/mobile/gallery/gallery10-1x.jpg 1x,
            ./images/mobile/gallery/gallery10-2x.jpg 2x
          "
          src="./images/mobile/gallery/gallery10-1x.jpg"
          class="section-gallery__img10"
          alt="icecream"
        />
      </div>
    </div>
  </div>
</section>
