<section class="section-gallery" id="our_products">
  <div class="section-gallery__container">
    <h2 class="is-hidden">Gallery</h2>
    <div class="wrapper-container">
      <div class="section-gallery__wrapper section-gallery__wrapper--img1">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery01-1x.jpg 1x,
              ./images/desktop/gallery/gallery01-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery01-1x.jpg 1x,
              ./images/tablet/gallery/gallery01-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery01-1x.jpg 1x,
              ./images/mobile/gallery/gallery01-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery01-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img2">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery02-1x.jpg 1x,
              ./images/desktop/gallery/gallery02-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery02-1x.jpg 1x,
              ./images/tablet/gallery/gallery02-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery02-1x.jpg 1x,
              ./images/mobile/gallery/gallery02-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery02-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img3">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery03-1x.jpg 1x,
              ./images/desktop/gallery/gallery03-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery03-1x.jpg 1x,
              ./images/tablet/gallery/gallery03-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery03-1x.jpg 1x,
              ./images/mobile/gallery/gallery03-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery03-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img4">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery04-1x.jpg 1x,
              ./images/desktop/gallery/gallery04-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery04-1x.jpg 1x,
              ./images/tablet/gallery/gallery04-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery04-1x.jpg 1x,
              ./images/mobile/gallery/gallery04-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery04-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img5">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery05-1x.jpg 1x,
              ./images/desktop/gallery/gallery05-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery05-1x.jpg 1x,
              ./images/tablet/gallery/gallery05-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery05-1x.jpg 1x,
              ./images/mobile/gallery/gallery05-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery05-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img6">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery06-1x.jpg 1x,
              ./images/desktop/gallery/gallery06-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery06-1x.jpg 1x,
              ./images/tablet/gallery/gallery06-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery06-1x.jpg 1x,
              ./images/mobile/gallery/gallery06-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery06-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img7">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery07-1x.jpg 1x,
              ./images/desktop/gallery/gallery07-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery07-1x.jpg 1x,
              ./images/tablet/gallery/gallery07-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery07-1x.jpg 1x,
              ./images/mobile/gallery/gallery07-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery07-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img8">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery08-1x.jpg 1x,
              ./images/desktop/gallery/gallery08-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery08-1x.jpg 1x,
              ./images/tablet/gallery/gallery08-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery08-1x.jpg 1x,
              ./images/mobile/gallery/gallery08-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery08-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img9">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery09-1x.jpg 1x,
              ./images/desktop/gallery/gallery09-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery09-1x.jpg 1x,
              ./images/tablet/gallery/gallery09-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery09-1x.jpg 1x,
              ./images/mobile/gallery/gallery09-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery09-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img10">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery10-1x.jpg 1x,
              ./images/desktop/gallery/gallery10-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/gallery10-1x.jpg 1x,
              ./images/tablet/gallery/gallery10-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/gallery10-1x.jpg 1x,
              ./images/mobile/gallery/gallery10-2x.jpg 2x
            "
            class="section-gallery__img1"
            media="(min-width:480px)"
          />
          <img
            src="./images/mobile/gallery/gallery10-1x.jpg"
            class="section-gallery__img1"
            alt="icecream"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
