

<section class="hero" id=home>
    <div class="container">
        <header class="header">
            <div class="menu"> <a class="logo__links" href=""> 
                <img src="./images/logo.png" 
                    alt="logo ice cream"> </a> 

            
                            <div class="button__container">
                            <button class="open-menu-btn"><svg class="menu-icon" width="20" height="12">
                                <use href="./images/icons/sprite.svg#icon-burger-btn"></use>
                            </svg></button>

                            <div class="header-nav__container">
                            <ul class="header-nav__list">
                                    
                                <li class="header-nav__item"> <a href="#home" class="header-nav__link menu-nav__current">Home</a></li>
                                
                                <li class="header-nav__item"><a href="#about_us" class="header-nav__link link">About us</a></li>
                                
                                <li class="header-nav__item"><a href="#how_it’s_made?" class="header-nav__link link">How it’s made?</a></li>
                                
                                <li class="header-nav__item"><a href="#our_products" class="header-nav__link link">Our products</a></li>
                                
                                <li class="header-nav__item"><a href="#contact" class="header-nav__link link">Contact</a></li>
                                
                            </ul>
                        </div>
                            <button class="header-buy_btn" header-modal-open>Buy now<svg class="buy-icon" width="20" height="12">
                                <use href="./images/icons/sprite.svg#icon-arrow"></use>
                            </svg></button>
                        </div>
                            <div class="mob-menu is-hidden">
                                <div class="mob-menu__container">
                                
                            
                                    <button class="buy_btn" data-modal-open>Buy now<svg class="buy-icon" width="20" height="12">
                                        <use href="./images/icons/sprite.svg#icon-arrow"></use>
                                    </svg></button>
                                    
                                    <div class="menu-nav__container">   
                                    
                                <ul class="menu-nav__list">
                                    
                                    <li class="menu-nav__item"> <a href="#home" class="menu-nav__link menu-nav__current">Home</a></li>
                                    
                                    <li class="menu-nav__item"><a href="#about_us" class="menu-nav__link link">About us</a></li>
                                    
                                    <li class="menu-nav__item"><a href="#how_it’s_made?" class="menu-nav__link link">How it’s made?</a></li>
                                    
                                    <li class="menu-nav__item"><a href="#our_products" class="menu-nav__link link">Our products</a></li>
                                    
                                    <li class="menu-nav__item"><a href="#contact" class="menu-nav__link link">Contact</a></li>
                                    
                                </ul>
                            
                                <button class="close-menu-btn"><svg class="close-icon" width="14" height="14">
                                        <use href="./images/icons/sprite.svg#icon-close-btn"></use>
                                    </svg></button>
                                </div>
                                </div>
                            </div>

    </div>
</header>
    <div class="hero__contents">
        <h1 class="hero__title">ice cream made with <span class="hero__accent">passion</span></h1>
            <ul class="hero__tittle-btn">
                <li> <a class="hero__btn hero__btn-primary"
                        href="">Products</a> 
                </li>
                <li> <a class="hero__btn hero__btn-secondary"
                        href="">How it’s made?</a> 
                </li>
            </ul>         
    </div>
    <div class="hero__image-thumb">
            <div class="hero__circle">
            <img src="./images/mobile/hero/icecream-1x.png" alt="Ice cream">
            </div>
        </div>
</div>


    
</section>
