
<section class="hero" id="hero">
    <div class="container">
        <header class="header">
            <div class="menu"> <a class="logo__links" href=""> 
                <img src="./src/images/logo.png" 
                    alt="logo ice cream"> </a> 
                <button class="burger-btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu"> 
                    <svg class="burger-icon">
                        <use href=""></use>
                    </svg> 
                </button> 
        <div class="js-menu-container menu-container" id="mobile-menu"> 
                    <button class="close-btn js-close-menu">
                        <svg class="close-btn-icon">
                            <use href=""></use>
                        </svg> 
            </button> 
        </div>
    </div>
</header>
    <div class="hero__contents">
        <h1 class="hero__title">ice cream made with <span class="hero__accent">passion</span></h1>
            <ul class="hero__tittle-btn">
                <li> <a class="hero__btn hero__btn-primary"
                        href="">Products</a> 
                </li>
                <li> <a class="hero__btn hero__btn-secondary"
                        href="">How it’s made?</a> 
                </li>
            </ul>         
        <div class="hero__image-thumb">
            <div class="hero__circle"></div>
            <picture>
                <source
                    srcset="../images/mobile/hero/icecream-1x.png 1x, ../images/mobile/hero/icecream-2x.png 2x"
                    media="(max-width: 767px)">
                <source
                    srcset="../images/desktop/hero/icecream-1x.png 1x, ../images/desktop/hero/icecream-2x.png 2x"
                    media="(max-width: 1279px)"> 
                <img class="hero__image"
                    srcset="../images/tablet/hero/icecream-1x.png 1x, ../images/tablet/hero/icecream-1x.png 2x"
                    src="../images/tablet/hero/icecream-1x.png" alt="Ice cream">
            </picture>
        </div>
    </div>
    
</section>
