<section>
    <div class="products container">

<div class="products__title">
<label for="" class="products__title--label">100% natural
<h2 class="products__title--main">products</h2>
</label>
</div>

<ul class="products__grid">
    <li class="products__item products__item--cream">
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, deleniti illum commodi facere dolorum ut.</p>
        <button class="products__btn" type="button"> btn
            <svg>
                <use></use>
            </svg>
        </button>
    </li>
    <li class="products__item products__item--coffee">
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, deleniti illum commodi facere dolorum ut.</p>
        <button class="products__btn" type="button"> btn
            <svg>
                <use></use>
            </svg>
        </button>
    </li>
    <li class="products__item products__item--milkshakes">
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, deleniti illum commodi facere dolorum ut.</p>
        <button class="products__btn" type="button"> btn
            <svg>
                <use></use>
            </svg>
        </button>
    </li>
</ul>


    </div>
</section>

