<section>
    <div class="products container">

<label for="" class="products__title--label">100% natural
<h2 class="products__title">products</h2>
</label>

<ul class="products__grid">
    <li class="products__item">
        <h3 class="products__item-title">ice cream</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, deleniti illum commodi facere dolorum ut.</p>
    </li>
    <li class="products__item">
        <h3 class="products__item-title">ice coffee</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, deleniti illum commodi facere dolorum ut.</p>

    </li>
    <li class="products__item">
        <h3 class="products__item-title">milkshakes</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, deleniti illum commodi facere dolorum ut.</p>
    </li>
</ul>
<button class="products__button" type="button"> btn
    <svg>
        <use></use>
    </svg>
</button>

    </div>
</section>

