<section class="products" >
    <div class="container" id="products">

<div class="products__title">
    <span class="products__title--label">100% natural</span>
    <h2 class="products__title--main">products</h2>
</div>

<ul class="products__grid">
    <li class="products__item products__item--cream">
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__description">Lorem ipsum dolor sit amet, adipisicing elit. Libero labore enim, fugiat similique odio debitis.</p>
        <button class="products__btn" type="button" cream-modal-open>
            <svg class="produsts__btn--img">
                <use href="./images/mobile/products/icons.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </li>

    <li class="products__item products__item--coffee">
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__description">Lorem ipsum dolor sit, amet consectetur Consectetur quam voluptatibus dolor, fuga ipsum eius.</p>
        <button class="products__btn open__btn1 " type="button" coffee-modal-open>
            <svg class="produsts__btn--img">
                <use href="./images/mobile/products/icons.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </li>

    <li class="products__item products__item--milkshakes">
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum blanditiis distinctio odit sequi explicabo nisi.</p>
        <button class="products__btn" type="button" milkshakes-modal-open>
            <svg class="produsts__btn--img">
                <use href="./images/mobile/products/icons.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </li>
</ul>
    </div>




    <div class="backdrop__cream is-hidden" cream-modal>
        <div class="modal_cream">
            <button class="modal__btn" type="button" cream-modal-close>
                <svg width="14" height="14" class="modal__icon">
                    <use href="./images/sprite.svg#icon-modal-close"></use>
                </svg>
            </button>
            <ul class="products__grid modal__grid">
                <li class="products__item products__item--cream modal__product">
        <h3 class="products__item-title product_title">ice cream</h3>
        <p class="products__description modal__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas ipsum quo commodi amet corrupti sed minima est dolorem, pariatur iure. Quisquam pariatur, illo a ratione quos officiis at molestiae obcaecati!
            Numquam soluta fuga nam sit pariatur commodi consectetur, eum molestias aliquam cupiditate? Iusto, magni quos necessitatibus illum officiis ducimus aperiam sint! Voluptates tempora dolores reprehenderit facilis similique omnis corrupti neque.
            Nisi, voluptatem? Rerum sequi quasi, sed officia eos voluptatibus assumenda. Atque blanditiis enim fuga minus reiciendis ullam modi impedit repellendus vitae! Voluptas adipisci rem aperiam temporibus sit odit quisquam officia.
            
            
             
            </p>
            </ul>
        </div>
    </div>


    <div class="backdrop__coffee is-hidden" coffee-modal>
        <div class="modal_coffee">
            <button class="modal__btn" type="button" coffee-modal-close>
                <svg width="14" height="14" class="modal__icon">
                    <use href="./images/sprite.svg#icon-modal-close"></use>
                </svg>
            </button>
            <ul class="products__grid modal__grid">
                <li class="products__item products__item--coffee modal__product">
                    <h3 class="products__item-title product_title">ice coffee</h3>
        <p class="products__description modal__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas ipsum quo commodi amet corrupti sed minima est dolorem, pariatur iure. Quisquam pariatur, illo a ratione quos officiis at molestiae obcaecati!
            Numquam soluta fuga nam sit pariatur commodi consectetur, eum molestias aliquam cupiditate? Iusto, magni quos necessitatibus illum officiis ducimus aperiam sint! Voluptates tempora dolores reprehenderit facilis similique omnis corrupti neque.
            Nisi, voluptatem? Rerum sequi quasi, sed officia eos voluptatibus assumenda. Atque blanditiis enim fuga minus reiciendis ullam modi impedit repellendus vitae! Voluptas adipisci rem aperiam temporibus sit odit quisquam officia.
            </p>
            </ul>
        </div>
    </div>

    <div class="backdrop__milkshakes is-hidden" milkshakes-modal>
        <div class="modal_milkshakes">
            <button class="modal__btn" type="button" milkshakes-modal-close>
                <svg width="14" height="14" class="modal__icon">
                    <use href="./images/sprite.svg#icon-modal-close"></use>
                </svg>
            </button>
            <ul class="products__grid modal__grid">
                <li class="products__item products__item--milkshakes modal__product">
                    <h3 class="products__item-title product_title">milkshakes</h3>
        <p class="products__description modal__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas ipsum quo commodi amet corrupti sed minima est dolorem, pariatur iure. Quisquam pariatur, illo a ratione quos officiis at molestiae obcaecati!
            Numquam soluta fuga nam sit pariatur commodi consectetur, eum molestias aliquam cupiditate? Iusto, magni quos necessitatibus illum officiis ducimus aperiam sint! Voluptates tempora dolores reprehenderit facilis similique omnis corrupti neque.
            Nisi, voluptatem? Rerum sequi quasi, sed officia eos voluptatibus assumenda. Atque blanditiis enim fuga minus reiciendis ullam modi impedit repellendus vitae! Voluptas adipisci rem aperiam temporibus sit odit quisquam officia.
            </p>
            </ul>
        </div>
    </div>
</section>