.advantages
{
  padding-bottom: 48px;
  padding-top: 38px;
  align-items: baseline;
  background: #fff5f6;

  @media screen and (min-width: 768px) {
    padding-bottom: 140px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 139px;

  }
}

.advantages_box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
   }
  @media screen and (min-width: 1280px) {
    flex-direction: row;

  }
}

.advantages_elem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width:768px){
    flex-direction: row;
    height: 226px;
    &:not(:last-child) {
      margin-right: 30px;

    }
  }
  @media screen and (min-width:1280px) {
    height: 222px;

  }
}

.advantages_list {
  list-style: none;
  @media screen and (min-width:768px) {
  }
  @media screen and (min-width:1280px) {
  }
  &:not(:last-child){
    margin-right: 30px;

  }
}

.advantages_icon{
  width: 50px;
  height: 50px;
  list-style: none;
  margin-bottom: 16px;
  @media (min-width:768px) {
    margin-top: 66px;
    margin-bottom: 36px;

  }
  @media (min-width:1280px){
    margin-top: 36px;
    margin-bottom: 40px;

  }
}

.advantages_icon1::before{
  content: url(/images/png/icon1.png);
}
.advantages_icon2::before{
  content: url(/images/png/icon2.png);
}
.advantages_icon3::before{
  content: url(/images/png/icon3.png);
}
.advantages_fact {
  font-family:  Titan One;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-style: 36px;
  line-height: 1.13px;
  color: #d41443;
  padding-top: 16px;
  margin-bottom: 54px;

  @media screen and (min-width:768px) {
    line-height: 1.14;
    font-style: 55px;
    margin-bottom: 13px;
    padding-top: 0px;

  }
}

.advantages_text {
  font-family:"Dm Sans";
  letter-spacing: 0.02em;
  font-style: 12px;
  line-height: 1.7;
  font-weight: 700;
  color: black;
  list-style: none;
  padding-bottom: 38px;
  @media screen and (min-width:768px) {
    padding-bottom: 0px;
    font-style: 14px;
    line-height: 1.74;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 0px;
    font-style: 16px;
    line-height: 1.76;
  }
}
